.vjs-playback-rate.vjs-menu-button.vjs-menu-button-popup.vjs-control.vjs-button {
    width: auto !important;
    min-width: auto !important;
    padding: 0 8px;
}

.vjs-playback-rate .vjs-playback-rate-value {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: normal;
    font-size: 1em;
    background: rgba(0,0,0, 0.75);
    height: auto;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 0.5em;
    border: 1px solid white;
    width: auto;
    padding: 2px 5px;
    position: relative;
}

.vjs-playback-rate.vjs-menu-button-popup .vjs-menu .vjs-menu-content {
    width: auto;
}
